/* Estilo todas las pags*/
/* Estilo del header*/
header {
    background-color: yellowgreen;}

    header h1{
        text-align: center;
    }
  
    
 
  /* Estilo del main*/
  
    .productos {
        display: flex;
    }
    
      
  /* Estilo del footer*/
  footer {
    background-color: yellowgreen;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    footer .textoFooter {
      color: #546164;
      font-size: 1rem;
      margin-left: 0.2rem;
      font-weight: bold; }
    footer div {
      display: flex; }
    footer img {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      width: 2rem; }

      